<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>cssLink}}
    <title>Weather-Now</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/snow.png" type="image/x-icon">
</head>

<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left -->
                    <div class="col-md-6 main_header_right align-items-center mt-5">
                        <figure>
                            <img src="images/Avatar1.jpg" class="img-fluid" alt="My image">
                        </figure>

                    </div>
                    <!-- right -->
                    <div class="col-md-6 main_header_left">
                        <p>Welcome to my Profile</p>
                        <h1>I am a <span class="text_clr"> MERN </span> Stack Developer </h1>
                        <a href="/about"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    {{>footer}}
    
    {{>jsLink}}
</body>

</html>