<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>cssLink}}
    <title>Weather-Now</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/snow.png" type="image/x-icon">
</head>

<body>
    <!-- navbar -->
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="submit" id="submitBtn">
                    </form>
                </div>

                <div class="tempInfo">
                    <div class="top_layer">
                        <p id="day">Day</p>
                        <p id="today_date">Date Month</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get output</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="output">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--footer-->
    {{>footer}}
    
    {{>jsLink}}

    <script src="js/main.js"></script>
</body>

</html>